// Body
$body-bg: #f3f3f3;


// Typography
$font-size-base: 1.1rem;
$line-height-base: 1.6;

// Colors
$blue: #4a5e7777;
$indigo: #6574cd;
$purple: #a692c4;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$grey: #D0D5D5;

$theme-colors:(
    "primary":#265DA6,
);